In [80]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [81]:
df = pd.read_csv('./data/KC_495_LLR_ATRCTN_2023.csv')
print(df.columns)

Index(['ID', 'LCLAS_NM', 'MLSFC_NM', 'POI_ID', 'POI_NM', 'BHF_NM', 'ASSTN_NM',
       'CL_CD', 'CL_NM', 'PNU', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_NM',
       'LI_NM', 'LNBR_NO', 'LEGALDONG_CD', 'ADSTRD_CD', 'RDNMADR_CD',
       'RDNMADR_NM', 'BULD_NO', 'LC_LO', 'LC_LA', 'GID_CD', 'LAST_CHG_DE',
       'ORIGIN_NM', 'FILE_NM', 'BASE_DE'],
      dtype='object')

In [82]:
# save
selected_columns = ['POI_ID', 'POI_NM', 'CTPRVN_NM', 'SIGNGU_NM','LEGALDONG_NM', 'LC_LO', 'LC_LA']
df_selected_origin = df[selected_columns]
print(pd.isna(df_selected_origin).sum(), '\n')
df_selected_origin = df_selected_origin.dropna()
print(pd.isna(df_selected_origin).sum(), '\n')

df_selected_origin = df_selected_origin.drop_duplicates(subset='POI_NM')
df_selected_origin.to_csv("./data/unique_set.csv", sep=',', index=False)

POI_ID            0
POI_NM            0
CTPRVN_NM         0
SIGNGU_NM       161
LEGALDONG_NM      0
LC_LO             0
LC_LA             0
dtype: int64

POI_ID          0
POI_NM          0
CTPRVN_NM       0
SIGNGU_NM       0
LEGALDONG_NM    0
LC_LO           0
LC_LA           0
dtype: int64

In [83]:
columns_to_drop = ['ID', 'LCLAS_NM', 'MLSFC_NM', 'BHF_NM', 'ASSTN_NM', 'GID_CD', 'LAST_CHG_DE', 'ORIGIN_NM', 'FILE_NM','LI_NM', 'RDNMADR_CD', 'RDNMADR_NM', 'BULD_NO']


df.drop(columns=columns_to_drop, inplace=True)
df.head(3)

,POI_ID,POI_NM,CL_CD,CL_NM,PNU,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LNBR_NO,LEGALDONG_CD,ADSTRD_CD,LC_LO,LC_LA,BASE_DE
0,76838,간절곶등대,60513,일반관광지,3171031025100280001,울산광역시,울주군,서생면,28-1,3171031025,3171031000,129.360675,35.359029,20231220
1,141502,우성항공여행사,60403,항공사/여행사,4579025021102250000,전라북도,고창군,고창읍,225,4579025021,4579025000,126.700823,35.434790,20231220
2,142394,우정여행사,60403,항공사/여행사,1114010300100310023,서울특별시,중구,태평로1가,31-23,1114010300,1114055000,126.978339,37.567237,20231220

In [84]:

desired_values = ['먹거리/패션거리' , '유명관광지' ,'해수욕장']
df = df[df['CL_NM'].isin(desired_values)]
# df = df[df['CL_NM'] == 'N']

# columns_to_drop = ['CL_CD', 'CL_NM']
# df.drop(columns=columns_to_drop, inplace=True)
desired_values = ['서울특별시', '경기도', '부산광역시']
df = df[df['CTPRVN_NM'].isin(desired_values)]
# df_test = df[~df['CTPRVN_NM'].isin(desired_values)]

# selected_columns = ['POI_ID', 'POI_NM', 'CTPRVN_NM', 'SIGNGU_NM','LC_LO', 'LC_LA']
selected_columns = ['POI_ID', 'POI_NM', 'CTPRVN_NM', 'SIGNGU_NM','LEGALDONG_NM', 'LC_LO', 'LC_LA']

df_selected = df[selected_columns]

df_unique = df_selected.drop_duplicates(subset='POI_NM')

In [85]:
desired_values = [16758706, 21085686, 21085658, 7232777, 21085883,21086097,7231419, 11324755, 20868088, 10592447, 10593745, 10592447, 10593745]
df_small = df_unique[df_unique['POI_ID'].isin(desired_values)]

In [86]:
df_small

,POI_ID,POI_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LC_LO,LC_LA
922,7231419,임랑해수욕장,부산광역시,기장군,장안읍,129.264261,35.318694
1005,7232777,오이도해양단지,경기도,시흥시,정왕동,126.690293,37.346403
6526,11324755,광안리카페거리,부산광역시,수영구,민락동,129.121389,35.155211
15957,16758706,구로시장떡볶이골목,서울특별시,구로구,구로동,126.885543,37.488818
34604,20868088,덕천동젊음의거리,부산광역시,북구,덕천동,129.007090,35.209896
37453,21085658,동대문패션타운,서울특별시,중구,을지로6가,127.008662,37.568664
37481,21085686,을지로타일상가,서울특별시,중구,을지로2가,126.988980,37.566375
37664,21085883,사강회센터,경기도,화성시,송산면,126.736237,37.213046
37874,21086097,까치울음식테마마을,경기도,부천시,작동,126.813806,37.515140

In [87]:
df_train, df_test = train_test_split(df_unique, test_size=0.3, random_state=42)

## Save the filtered data to a new CSV file

In [88]:
df_small.to_csv("./data/small_set.csv", sep=',', index=False)

In [89]:
df_train.to_csv("./data/train_set.csv", sep=',', index=False)
df_test.to_csv("./data/test_set.csv", sep=',', index=False)